<!-- product-collection-item.liquid => START -->

{%- assign roar360 = product.metafields.roar360 -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default:product.featured_image -%}
{%- if _dim == empty or _dim == blank -%}
{%- if settings.collection_product_size == "custom" %}
{%- if settings.collection_product_img_width != blank and settings.collection_product_img_height != blank -%}
{%- assign _dim = settings.collection_product_img_width | append: "x" | append : settings.collection_product_img_height -%}
{%- else -%}
{%- assign _dim = "large" -%}
{%- endif -%}
{%- else -%}
{%- assign _dim = settings.collection_product_size -%}
{%- endif -%}
{%- endif -%}
{%-assign _onepone = '" '-%}
{%-if settings.image_lazy_loading_used -%}
{%-assign _onepone = ' lazyload" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-'-%}
{%-endif-%}
<div class="home_product_item productdisplay {%if custom_class != blank%} {{custom_class}} {%endif%} product product-content-wrapper clearfix product-hover {% if settings.image_layout != "" %}aspect-ratio-{{ settings.image_layout }}{% endif %} product-item-{{- settings.product_item_type -}}-wrapper quickshop-type-{{- settings.quickshop_type -}}-wrapper {{settings.product_item_advanced_thumb_type}}" data-_dim="_{{_dim}}">
  <div class="left">
    {%- if settings.product_sale_badge != '' and current_variant.compare_at_price > current_variant.price -%}
    <div class="sale {% if settings.product_sale_badge != '0' %}percentage{% endif %}{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">
      {%- if settings.product_sale_badge == '0' -%}
      {{- 'products.product.sale' | t -}}
      {%- else -%}
      {{current_variant.compare_at_price | minus:current_variant.price | times:100.0 | divided_by:current_variant.compare_at_price | ceil }}%
      {%- endif -%}
    Off!<style='border-radius:50%;'></div>
    {%- elsif settings.product_new_badge and product.tags contains 'latest' -%}
    <div class="new">{{'products.product.new' | t}}</div>
    {%- endif -%}
    <div class="image{%- if settings.product_img_fx == '1' -%}{{' '}}image-swap-effect{%- endif -%}">
      {%- if settings.image_layout != "" -%}
      <a href="{{product.url | within: collection}}" class="aspect-product__wrapper">
        <div class="aspect-product__spacer"><div class="aspect-product__spacer-inner"></div></div>
        <div class="aspect-product__images">
          <div data-class="reveal" class="b-loading main-images-wrapper product_item_padding">
            {% comment %}
            {%-include 'lazy-preloader'-%}
            {% endcomment %}
            {%- if settings.product_img_fx == '1' and product.images.size > 1 -%}
            <img class="mpt-image swap-image{{_onepone}}src="{{product.images[1] | product_img_url: _dim}}" alt="{{product.images[1].alt | escape}}" data-srcset="{{product.images[1] | product_img_url: _dim, scale: 2}} 500w, {{product.images[1] | product_img_url: _dim}} 166w" data-sizes="(max-width: 500px) 100vw, 500px"/>
            {%- endif -%}
            {%- assign product_img_url = _dim -%}
            <img class="mpt-image {% if settings.product_img_fx == '2' %} zoom-image-effect{% endif %}{{_onepone}}src="{{featured_image | product_img_url: product_img_url}}" alt="{{product.title | escape}}" alt="image" data-srcset="{{featured_image | product_img_url: _dim, scale: 2}} 500w, {{featured_image | product_img_url: _dim}} 166w" data-sizes="(max-width: 500px) 100vw, 500px"/>
          </div>
        </div>
      </a>
      {%- else -%}
      <a href="{{product.url | within: collection}}">
        <div data-class="reveal" class="b-loading main-images-wrapper">
          {% comment %}
          {%-include 'lazy-preloader'-%}
          {% endcomment %}
          {%- if settings.product_img_fx == '1' and product.images.size > 1 -%}
          <img class="mpt-image swap-image{{_onepone}}src="{{product.images[1] | product_img_url: _dim}}" alt="{{product.images[1].alt | escape}}" data-srcset="{{product.images[1] | product_img_url: _dim, scale: 2}} 500w, {{product.images[1] | product_img_url: _dim}} 166w" data-sizes="(max-width: 500px) 100vw, 500px"/>
          {%- endif -%}
          {%- assign product_img_url = _dim -%}
          <img class="mpt-image {% if settings.product_img_fx == '2' %} zoom-image-effect{% endif %}{{_onepone}}src="{{featured_image | product_img_url: product_img_url}}" alt="{{product.title | escape}}" alt="image" data-srcset="{{featured_image | product_img_url: _dim, scale: 2}} 500w, {{featured_image | product_img_url: _dim}} 166w" data-sizes="(max-width: 500px) 100vw, 500px"/>
        </div>
      </a>
      {%- endif -%}
      {% if settings.product_item_advanced_thumb_type == "dots" %}
      {%- if settings.product_countdown_show -%}{%- include 'limited-offer' -%}{%- endif -%}
      {%- endif -%}
      <div class="product-item-buttons">
        {%- if settings.wishlist_enable and settings.product_wishlist_show -%}<div class="right-wishlist wishlist">{% assign my_product = product %}{%- include 'wishlist' with true -%}</div>{%- endif -%}
        {%- if settings.product_item_type != "" and settings.compare_enable and settings.product_compare_show -%}<div class="right-compare compare">{% assign my_product = product %}{%- include 'compare' -%}</div>{%- endif -%}
        {%- if settings.product_item_type != "" and settings.quickshop_type != "" and settings.product_quickview_show -%}
        <div class="quickview right-quickview">
          <a href="{{- product.url -}}?view=quickview" id="quickview-btn-{{- product.id -}}" class="btn-action quick_view btooltip" title="{{'products.product.quick_shop' | t | escape}}"><i class="fa fa-search"></i></a>
        </div>
        {%- if roar360.roar360view_enabled == '1' -%}
        <div id="product-360-view-{{- section.id -}}" class="product-360-view-wrapper mfp-hide">
          <div class="fastor-threed-view threed-id-{{- section.id -}}" 
               data-_script_id="threed-id-{{- section.id -}}">
            <ul class="threed-view-images"></ul>
            <div class="spinner"><span>0%</span></div>
          </div>
          {%- unless roar360.roar360view_json == blank -%}
          <script type="application/json" id="threed-id-{{- section.id -}}">
              {{- roar360.roar360view_json -}}
          </script>
          {%- endunless -%}
        </div>
        {%- endif -%}
        {%- endif -%}
      </div>
      <div class="items-image-buttons">
        <a class="prev" href="#">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#global__symbols-prev"></use></svg>
        </a>
        <a class="next" href="#">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#global__symbols-next"></use></svg>
        </a>
      </div>
    </div>
    {%- if settings.quickshop_image > 0 and product.images.size > 1 -%}{%- include 'item-images' with settings.quickshop_image | minus: 1 -%}{%- endif -%}
    {% if settings.product_item_advanced_thumb_type != "dots" %}
    {%- if settings.product_countdown_show -%}{%- include 'limited-offer' -%}{%- endif -%}
    {%- endif -%}
  </div>
  {%- if settings.product_item_type == "" -%}
  <div class="right">
     <div class="price">
      {%- if product.available -%}
      {%- if current_variant.compare_at_price > current_variant.price -%}
      <span class="price-old money">{{current_variant.compare_at_price | money}}</span>
      {%- endif -%}
      <span class="price-new money ">{{current_variant.price | money}}</span>
      {%- else -%}
      <span class="price-old">{{'products.product.sold_out' | t}}</span>
      {%- endif -%}
    </div>
    <div class="name "><a href="{{product.url | within: collection}}">{{product.title}}</a></div>
    {%- if settings.advanced_product_grid == '7' -%}
    <div class="brand">{{product.vendor | link_to_vendor}}</div>
    {%- endif -%}
   
    {%- if settings.product_swatch_color and settings.product_swatch_color_item -%}
    {%- include 'product-color-swatch' -%}
    {%- endif -%}
    <div class="only-hover">
      <ul>
        {%- if settings.product_addtocart_show -%}
        <li>
          {%- if product.available -%}
          {%- if product.variants.size > 1 -%}
          <a href="{{product.url | within: collection}}" class="btn-action btooltip choose-options" title="{{'products.product.select_options' | t | escape}}"><i class="fa fa-shopping-cart"></i></a>
          {%- else -%}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="quantity" value="1" />
            <button type="submit" class="btn-action btooltip add-to-cart" data-loading-text="{{'products.product.loading' | t | escape}}" title="{{'products.product.add_to_cart' | t | escape}}"><i class="fa fa-shopping-cart"></i></button>
            <select class="hide" name="id">
              {%- for variant in product.variants -%}
              <option value="{{variant.id}}">{{variant.title | escape}} - {{variant.price | money}}</option>
              {%- endfor -%}
            </select>
          </form>
          {%- endif -%}
          {%- else -%}
          <a href="{{product.url | within: collection}}" class="btn-action btooltip choose-options" title="{{'products.product.show_details' | t | escape}}"><i class="fa fa-shopping-cart"></i></a>
          {%- endif -%}
        </li>
        {%- endif -%}
        {%- if settings.product_quickview_show -%}
        <li class="quickview">
          <a href="{{- product.url -}}?view=quickview" id="quickview-btn-{{- product.id -}}" class="btn-action quick_view btooltip" title="{{'products.product.quick_shop' | t | escape}}"><i class="fa fa-search"></i></a>
        </li>
        {%- if roar360.roar360view_enabled == '1' -%}
        <div id="product-360-view-{{- section.id -}}" class="product-360-view-wrapper mfp-hide">
          <div class="fastor-threed-view threed-id-{{- section.id -}}" 
               data-_script_id="threed-id-{{- section.id -}}">
            <ul class="threed-view-images"></ul>
            <div class="spinner"><span>0%</span></div>
          </div>
          {%- unless roar360.roar360view_json == blank -%}
          <script type="application/json" id="threed-id-{{- section.id -}}">
  			{{- roar360.roar360view_json -}}
          </script>
          {%- endunless -%}
        </div>
        {%- endif -%}
        {%- endif -%}
        {%- if settings.compare_enable and settings.product_compare_show -%}<li class="compare">{% assign my_product = product %}{%- include 'compare' -%}</li>{%- endif -%}
      </ul>
    </div>
  </div>
  <hr><hr>
  {%- else -%}
  <div class="product-item-content" >
    {%- if settings.quickshop_type == "" -%}
    <div class="product-item-top"> 
      <div class="brand">{{product.vendor | link_to_vendor}}</div>
      <div class="product-item-rating" data-url="{{- product.url -}}">
        <span class="shopify-product-reviews-badge" data-id="{{- product.id -}}"></span>
      </div>
    </div>
    {%- endif -%}
    
    {%- if product.available -%}
      <span class="old_price  money{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">{{current_variant.compare_at_price | money}}</span>
    {%- endif -%} 	
    <div class="name home_product_item_name product_collection_name"><a href="{{product.url | within: collection}}">{{product.title}}</a></div>
    
    <div class="row" >
    <div class="product_collection_price price pricetag product_item_pricetag col-lg-4 col-md-4 col-sm-4 col-xs-4">
      {%- if product.available -%}
<!--       <span class="price-old money{% unless current_variant.compare_at_price > current_variant.price %} hide{% endunless %}">{{current_variant.compare_at_price | money}}</span> -->
      <span class="collection_price_span price-new money product_price_color" style="float:right;">{{current_variant.price | money}}</span>
      {%- else -%}
      <span class="collection_price_span price-new money product_price_color" style="float:right;">{{current_variant.price | money}}</span>
      {%- endif -%} 
    </div>
    
     
    {% comment %} Cart {% endcomment %}
      <div class="product_item_cart col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
      <form  action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="quantity" value="1" />
        <button style="border:none !important;" type="submit" class="collection_addToCart_button home_product_addtocart btn-action addtocart-item-js add-to-cart" data-loading-text="{{'products.product.loading' | t | escape}}" title="{{'products.product.add_to_cart' | t | escape}}" {% unless product.available %}disabled{% endunless %}><span class="product_span collection_addToCart_span">{%- if product.available -%}{{'products.product.add_to_cart' | t | escape}}{%- else -%}{{'products.product.sold_out' | t}}{%- endif -%}</span></button>
        <select name="id" id="ProductItemSelect-{{ product.id }}" class="variation-select no-js hide">
          {%- for variant in product.variants -%}
          {%- if variant.available -%}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{- variant.title -}}
          </option>
          {%- else -%}
          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t | escape }}</option>
          {%- endif -%}
          {%- endfor -%}
        </select>
      </form>
      </div>
    </div>
    
    
     <div class="product-item-inside-hover">
      
      {% comment %} QuickView {% endcomment %}
      {%- if settings.product_quickview_show and settings.quickshop_type == ""-%}
      <div class="quickview right-quickview">
        <a href="{{- product.url -}}?view=quickview" id="quickview-btn-{{- product.id -}}" class="btn-action quick_view btooltip" title="{{'products.product.quick_shop' | t | escape}}"><i class="fa fa-search"></i></a>
      </div>
      {%- if roar360.roar360view_enabled == '1' -%}
      <div id="product-360-view-{{- section.id -}}" class="product-360-view-wrapper mfp-hide">
        <div class="fastor-threed-view threed-id-{{- section.id -}}" 
             data-_script_id="threed-id-{{- section.id -}}">
          <ul class="threed-view-images"></ul>
          <div class="spinner"><span>0%</span></div>
        </div>
        {%- unless roar360.roar360view_json == blank -%}
        <script type="application/json" id="threed-id-{{- section.id -}}">
            {{- roar360.roar360view_json -}}
        </script>
        {%- endunless -%}
      </div>
      {%- endif -%}
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
</div>

{%- unless product == empty -%}
<script type="application/json" id="ProductItemJson-{{- product.id -}}">
    {{- product | json -}}
</script>
<script type="application/json" id="ProductSwatchItemJson-{{- product.id -}}">
    {{- product.metafields.texture | json -}}
</script>
{%- endunless -%}
<!-- product-collection-item.liquid => END -->